.collapse-with-default-height, .collapse-with-default-height:not(.show), .collapsing {
    height: 6.8rem;
    display: block;
}

.collapse-with-default-height {
    display: block;
    overflow: hidden;
}

.collapse-with-default-height.show {
    height: auto; /* reset height */
}

.read-more {
    min-height: 1em;
}
