// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$primary: #ff642b; /* Fysiksektionen orange color */
$secondary: #003545; /* Fysiksektionen blue color |  NOTE: There are two blues used, also #062432 */
$background-color: #F2F3F4;

$line-height-base: 1.75;

$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1500px
);

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1140px,
        xxl: 1400px
);

$spacer: 1rem;
$spacers: (
        0: 0,
        '05': ($spacer * 0.125),
        1: ($spacer * .25),
        2: ($spacer * .5),
        3: $spacer,
        4: ($spacer * 1.5),
        45: ($spacer * 2.25),
        5: ($spacer * 3),
        6: ($spacer * 5)
);

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

$F-super-light-gray: $gray-100;
$F-light-gray: $gray-200;
$F-medium-gray: $gray-400;
$F-dark-gray: $gray-700;
$F-super-dark-gray: $gray-900;
$F-red: #DC3545;

// Create your own map
$custom-colors: (
    "F-super-light-gray": $F-super-light-gray,
    "F-light-gray": $F-light-gray,
    "F-medium-gray": $F-medium-gray,
    "F-dark-gray": $F-dark-gray,
    "F-super-dark-gray": $F-super-dark-gray,
    "F-orange": $primary,
    "F-blue": $secondary,
    "F-red": $F-red
);

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);

// 4. Include any optional Bootstrap components as you like
@import "../node_modules/bootstrap/scss/bootstrap";


// 5. Add additional custom scss

.flex-truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 0;
}

@each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
        $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

        .hidden#{$infix}   {
            visibility: hidden !important;
        }
        .visible#{$infix}   {
           visibility: visible !important;
        }
    }
}

.normal-cursor {
    cursor: default;
}

.pointer-cursor {
    cursor: pointer;
}

.darken-on-hover:hover {
    filter: brightness(90%);
}

.lighten-on-hover:hover {
    filter: brightness(110%);
}
.adminnav {
    overflow: hidden;
    a {
        text-decoration: none;
        border-bottom: 5px solid transparent;
        &:hover {
            border-bottom: 5px solid $primary;
        }
        &.active {
            border-bottom: 5px solid $primary;
        }
    }
}

h1 {
    font-size: 3.5em;
    font-weight: bolder;
}
