$primary: #ff642b; /* Fysiksektionen orange color */
$secondary: #093144; /* Fysiksektionen blue color |  NOTE: There are two blues used, also #062432 */
$F-light-gray: #f8f9fa;

$colors: (
  primary:                           $primary,
  secondary:                         $secondary,
  F-light-gray:                      $F-light-gray
);

@import "../node_modules/bootstrap/scss/bootstrap";
