$primary: #ff642b; /* Fysiksektionen orange color */
$secondary: #093144; /* Fysiksektionen blue color |  NOTE: There are two blues used, also #062432 */

$F-red: #DC3545;

$background-color: #F2F3F4;



$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1500px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1400px
);

$spacer: 1rem;
$spacers: (
  0: 0,
  1: ($spacer * .25),
  2: ($spacer * .5),
  3: $spacer,
  4: ($spacer * 1.5),
  45: ($spacer * 2.25),
  5: ($spacer * 3),
  6: ($spacer * 5)
);



@import "../node_modules/bootstrap/scss/bootstrap";
