
.drawerMd {
    .header {
        height: 160px;
        .icon {
            font-size: 30px;
            margin-top: auto;
            margin-bottom: auto;
        }
        #close {
            margin-right: 98px;
        }
        #login {
            margin-right: 20px;
        }
    }
    .menus {
        .subLink {
            color: inherit;
        }
    }
}
