.swagger-ui .response-controls {
    display: none;
}

.swagger-ui .try-out {
    display: none;
}

.swagger-ui .response-col_links {
    display: none;
}

.swagger-ui .title span {
    display: none;
}